.MerchandisingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.MerchandisingContent {
  max-width: 600px;
}

.BenefitsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  grid-template-rows: repeat(2, auto);   /* 2 linhas (automáticas) */
  gap: 20px 40px; /* Espaçamento vertical (linhas) e horizontal (colunas) */
  margin-top: 20px;
}

.BenefitItem {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o ícone e o texto */
}

.MerchandisingImage img {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding-right: 100px;
  padding-top: 40px;
}

.title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #6F4C3E; /* Cor marrom */
    font-family: 'Sora', sans-serif;
    margin-bottom: 20px;

}

.description {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}
.BenefitsGroupRight {
  display: flex;
  flex-direction: row;
  gap: 40px ;
}
