.MerchandisingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.MerchandisingContent {
  max-width: 600px;
}

.BenefitItem {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaço entre o ícone e o texto */
}

.MerchandisingImage img {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding-right: 10px;
  padding-top: 40px;
}

.title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #6F4C3E; /* Cor marrom */
    font-family: 'Sora', sans-serif;
    margin-bottom: 20px;

}

.description {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}
.BenefitsGroupRight {
  display: flex;
  flex-direction: row;
  gap: 40px ;
}

@media (max-width: 768px) {
  .MerchandisingContainer {
    flex-direction: column; /* Faz o layout virar coluna */
    align-items: center; /* Centraliza tudo na horizontal */
    padding: 20px;
  }

  .MerchandisingImage img {
    padding-right: 0;  /* Remove o espaço lateral */
    padding-top: 20px; /* Menos espaçamento em cima */
    max-width: 100%;   /* Faz a imagem ocupar a largura disponível */
  }

  .MerchandisingContent {
    max-width: 100%;
    text-align: center; /* Centraliza textos */
  }

  .BenefitsList {
    grid-template-columns: 1fr; /* Faz a lista de benefícios virar uma coluna única no mobile */
    gap: 10px 0;
  }
}
