.leftSide {
  padding-left: 30px;
  flex: 1;
  min-width: 300px; /* Evita quebrar muito pequeno */
}

.rightSide {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 660px;
  max-width: 100%; /* Limita pra não estourar em telas menores */
  background-color: #F3F4F2;
  padding-bottom: 30px;
}

.description {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.OrderItem {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Se ficar apertado, deixa o conteúdo quebrar */
}

.confirmButton {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #c8b5ad;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Sora';
}

.confirmButton:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.orderDone{
  padding-right: 40px;
}

.confirmButton:hover {
  background-color: #49281b;
}

.seila {
  display: flex;
  flex-direction: column;
}

.totalPedido {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 30px;
}

.containerActions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.actionsCounter {
  display: flex;
  gap: 8px;
  background-color: #F3F3F3;
  padding: 5px 10px;
  padding: auto;
  
}

.actionsCounter button {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  border-color:#c8b5ad;
  padding: 6px 12px;
  cursor: pointer;
  font-family: 'Sora';
}

.actionsCounter button:hover {
  background-color: white;
  color: #49281b;
}

.actionsRemove button {
  padding-top: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Sora';
}

.actionsRemove button:hover {
  background-color: darkred;
}



/* 📱 Responsividade para telas menores que 768px (tablet e celular) */
@media (max-width: 768px) {
  

  .leftSide {
    padding-left: 10px;
  }

  .rightSide {
    width: 95%;
    padding: 10px;
    border-radius: 15px;
  }

  .confirmButton {
    width: 115%;
    align-self: center;

  }

  .description {
    padding: 20px 10px;
  }

  .OrderItem {
    flex-direction: column;
    align-items: center
  }
}