.coffeeList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;       /* Limite da largura total */
    margin: 0 auto;          /* Centraliza o container */
    
}


.space{
  padding-top: 50px;
}

.containerDoisPlus {
  display: flex;
  align-items: row;
  gap: 8px; /* Espaço entre o ícone e o texto */
  cursor: pointer; /* Faz o mouse virar uma mãozinha no hover */
}

.containerDois {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  
}

.coffeeTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.containerDoisPlus {
  display: flex;
  align-items: center;
  padding-right: 40px;
}


/* ---------------------------------- */

.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  justify-content: center;   /* <<< Isso centraliza horizontalmente */
  align-items: center;        /* <<< Isso alinha verticalmente se precisar */
  text-align: center;
}
.filterButton {
  padding: 8px 16px;
  background-color: #f1e9c9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.filterButton:hover {
  background-color: #d7ccaa;
  transform: scale(1.05);
}

.filterButton:active {
  transform: scale(0.95);
}

.searchInput{
  background-color: #f1e9c9;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;

}

.searchInput::placeholder{
  color: #8d8686;
  font-style: italic;
}

@media (max-width: 480px){
  .space{
    padding-top: 200px;
  }
}