.HeaderContainer {
  top: 0;
  position: fixed;
  width: 97%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05); 
  text-decoration: none !important;
  flex-wrap: wrap;
  background-color: white; /* Só garante que o fundo do header seja branco, caso queira *//* Sombra discreta embaixo */
}

.Logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 65px;
}

.Logo a{
  text-decoration: none !important;
}

.HeaderRight {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.location {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #F1E9C9;
  border-radius: 20px;
  padding: 1px 10px;
  width: 110px;
  font-size: 14px;
}

button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #DBAC2C;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.actions{
    display: flex;
    align-items: center;
    gap: 50px;
}

.login-button {
  background-color: #6F4C3E; /* Cor marrom */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Sora;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #c6c6c6;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Sora', sans-serif;
}

@media (max-width: 480px) {
  .HeaderContainer {
    flex-direction: row; /* Opcional: Se quiser que os elementos fiquem empilhados */
    gap: 10px;
    padding-bottom: 20px;
  }

  .user-info{
    font-size: 13px;
    padding-left: 10px;
  }

  .actions{
    padding-right: 80px;
  }

  .Logo{
    padding-left: 90px;
  }

  .HeaderRight{
    padding-left: 90px;
  }

  .location {
    font-size: 12px;
    padding-left: 20px;   
  }

  .login-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

.t{
  text-decoration: none !important;
}